<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin dash</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <!-- <a href="index.html"> -->
      <img class="logo" src="/images/carin_logo.png" alt="logo" />
      <!-- </a> -->
      <h1>Guided Path</h1>
      <h5 class="subT">Center for Trauma Healing</h5>
    </header>
    <nav class="admin-nav">
      <ul class="admin-nav-controls">
        <!-- <li><a href="/public/index.html">Home</a></li> -->
        <!-- <li>Home</li> -->
        <li><a href="meet.html">Log Out</a></li>
        <!-- &nbsp; &nbsp; &nbsp;  -->
        <li><a href="/admin/dashboard/">Back to Wait List</a></li>
        <!-- <li><a href="video_tour.html">Video Tour</a></li>
        <li><a href="learn_more.html">Learn More</a></li>
        <li><a href="wait_list.html">Join Wait List</a></li> -->
      </ul>
    </nav>
    <main>
      <div class="clientSheet">
        <ul class="clientInfo">
          <li class="name">Name: &nbsp;<%= data.fullName %></li>
          <li>Email: &nbsp;<%- data.email %></li>
          <li>Phone: &nbsp;<%- data.phone %></li>
          <li>Who is this for:&nbsp;<%- data.whoFor %></li>
          <li>Interested Services:&nbsp;<%- data.service %></li>
          <li>Noteable Conflicts:&nbsp;<%- data.conflict %></li>
          <li>Payment Method:&nbsp;<%- data.paymentMethod %></li>
        </ul>
      </div>
    </main>
    <footer>Guided path center for trauma healing&copy; &reg; &trade;</footer>
  </body>
</html>
